$('#like_<%= @like.post.id %>')
    .html('<%= escape_javascript(render('likes/unlike', post: @like.post)) %>')
$('#total_likes_for_post_<%= @post.id %>')
    .replaceWith('<div id="total_likes_for_post_<%= @post.id %>"> Likes: <%= escape_javascript(@post.likes.count.to_s) %></div>' )