<% unless user == current_user %>
    <li class='user'>
        <%= link_to gravatar_for(user, size: 50), user %>
        <%= user.name %>
        <%= user.id %>
        <% if current_user.friends?(user) %>
            <%= render 'shared/remove_friend_form', user: user %>
        <% elsif current_user.pending_friendships.include?(user) %>
            <%= render 'shared/undo_request_form', user: user %>
        <% else %>  
            <%= render 'shared/add_friend_form', user: user %>
        <% end %>
    </li>
<% end %>

