<div class='post' id='post_<%= post.id %>'>
    <div class='post_author'>
        <h3><%= post.user.name %></h3>
    </div>
    <div class='post_content'>
        <%= post.content %>
    </div>
        <%= image_tag post.picture.url, class:'post_image' if post.picture? %>
    <div class='timestamp'>
        Posted <%= time_ago_in_words(post.created_at) %> ago.
    </div>
    <div id='total_likes_for_post_<%= post.id %>'>
        <% if !post.likes.empty? %>
            Likes: <%= post.likes.count %>
        <% end %>
    </div>
    <div class='like_unlike'>
        <% if !post.likes.exists?(user_id: current_user) %>
            <%= render 'likes/like', post: post  %>
        <% else %>
            <%= render 'likes/unlike', post: post %>
        <% end %>
    </div>
    <% if current_user == @user %>
        <%= button_to "Delete", post, method: :delete, remote: true %>
    <% end %> 
    <% if !@comments.empty? %>
    <div class='comment'>
        <%= render 'comments/comment_form', post: post %>
    </div>
    <% end %>
</div>

<div class='comments' id='post_<%= post.id %>_comments'>
    <%= render @comments, post: post %>
</div>