<div id="container">
    <% flash.each do |message_type, message | %>
      <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
  <div id="user_nav">

    <div class="auth_status">   
      <% if user_signed_in? %>
        Signed in as <%= current_user.name %>. Not you?
        <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in",  new_user_session_path %>
      <% end %> 
    </div>

    <div class="friend_requests">
      <% if any_friend_requests?(current_user) %>
        You have <%= num_of_friendship_requests %> 
        <%= "friend request".pluralize(num_of_friendship_requests) %>
      <% else %>
        No friend requests
      <% end %>
    
</div>